<!--extends layout-->

block content
    h1 Servizio Meteo

    p Scegli cosa fare:
    br
    a(href="/inserimento-dati") Inserisci dati stazione 
    br
    a(href="/riepilogo-dati") Riepilogo dati stazioni
