doctype html
html
  head
    title Servizio Meteo
    link(rel="stylesheet", href="index.css")
  body
    block content
      h1 Servizio Meteo

      p Scegli cosa fare:
      p
        a(href="/inserimento-dati") Inserisci dati stazione
      p
        a(href="/riepilogo-dati") Riepilogo dati stazioni
