doctype html
html
  head
    title Inserimento dati
    link(rel="stylesheet", href="inserimento.css")

  body
    block content
      h1 Inserisci dati stazione
      if errore
        p.errore #{errore}
      form(action="/inserimento-dati", method="post")
        p
          label(for="stazione") Stazione:
          select(id="stazione", name="stazione")
            option(value="") -- Seleziona una stazione --
            each stazione in stazioni
              option(value=stazione.nome)= stazione.nome

        p
          label(for="temperatura-massima") Temperatura massima:
          input(type="text", id="temperatura-massima", name="temperatura-massima")

        p
          label(for="temperatura-minima") Temperatura minima:
          input(type="text", id="temperatura-minima", name="temperatura-minima")

        button(type="submit") Invia

        p
          a(href="/") Torna alla home page
          p
          a(href="/riepilogo-dati") Riepilogo dati stazioni

